@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
}

.discount {
  text-align: center;
  background-color: lightgreen;
  padding: 12px 0;
  margin: 0;
}

.discount .discount-line {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* header */

header {
  margin: 16px 0 0 0;
  padding: 0 8rem;
}

ul.links {
  list-style: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

ul.links li {
  float: left;
  margin: 10px 12px;
}

ul.links li a {
  text-decoration: none;
  color: black;
}

ul.icons {
  list-style: none;
  display: inline;
  overflow: hidden;
}

ul.icons li {
  float: right;
  margin: 18px;
}

ul.icons li a {
  color: black;
  font-size: 18px;
  transition: 0.3s;
}

ul.icons li a:hover {
  color: darkblue;
}

section {
  padding: 0 4rem;
}

/* hero */
.hero {
  background-image: url(https://plus.unsplash.com/premium_photo-1672883551967-ab11316526b4?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20rem;
  padding-bottom: 20rem;
  text-align: center;
  color: white;
}

.shop-btn {
  background: transparent;
  border: 1px solid white;
  padding: 14px 16px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.shop-btn:hover {
    border: 2px solid white;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin: 0;
}

.hero p {
font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 24px 0;
}

/* section 1 */
section.products {
  padding: 40px 10px;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

.section-description {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 24px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  gap: 5px;
  margin: auto;
}

.product-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.price {
  margin: 10px 0 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

/* subscribe  */

.subscribe-section {
  padding-bottom: 6rem;
  padding-top: 4rem;
}

.subscribe-section span{
  font-family: "Roboto", sans-serif;
  font-size: 18px
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.subscribe-container input{
 padding: 12px 16px;
  margin-top: 12px;
  border-radius: 3px;
  border: 1px solid;
  width: 100%;
}

.subscribe-container .social-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.subscribe-container .social-icons a {
  font-size: 1.3em;
  color: #374151;
  transition: color 0.2s ease;
}

/* footer  */

.footer-container {
  text-align: center;
}

.footer-container .fa-heart {
  color: red;
}

footer {
  padding: 20px;
  background-color: lightgray;
}